#!/bin/bash

MYNAME=test23

#The numerical value of the user's ID. 
MYUID=

#The group name or number of the user's initial login group.
BASICGID=

#A list of supplementary groups which the user is also a member of. Each group is separated from the next by a comma, with no intervening whitespace. 
MYGID=

#The new user will be created using HOME_DIR as the value for the user's login directory. 
#for example
MYHOME=

#new user's password,the new password must meet the requirements in remote hosts.
MYPASSWD=

#The name of the user's login shell,you must input a exit shell
MYSHELL=
