#!/bin/bash

MYNAME=test2
NEWNAME=test3
NEWUID=
NEWGID=
NEWGROUPS=
NEWSHELL=
NEWHOME=
NEWPASSWD=redhat

# if you need lock the user account,set the below vars=yes,else keep the below var is none
LOCK=
#if you need unlock the user account,set the below var=yes,else keep the below var is none
UNLOCK=yes
